body{
    background-color: #161616;
    color: #fff;
}

iframe{
    padding: 0 2px 0 2px;
}

header{
    margin: 10px;
    padding: 10px;
    background-color: #253140;
    width: 97%;
    height: 80px;
}

.sectionHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0 10px;
    width: 97%;
    position: relative;
}

footer{
    margin: 10px;
    padding: 10px;
    background-color: #253140;
    width: 97%;
    height: 65px;
}

/*Menu*/
#menu-toggle {
    display: none;
}

.menu-button, .text-button {
    cursor: pointer;
    display: flex;
    align-items: center;

    position: relative;
    z-index: 1002;
}

.sidebar {
    position: absolute;

    top: -10px;
    left: -300px;

    width: 250px;
    height: 711px;

    background-color: #253140;

    padding-top: 80px;

    transition: left 0.3s ease;

    z-index: 1001;

}

.sidebar a {
    display: flex;
    align-items: center;

    gap: 15px;

    padding: 15px 25px;

    color: white;
    text-decoration: none;

    font-size: 18px;
}

.sidebar a:hover {
    background-color: #333;
}

#menu-toggle:checked ~ main .sidebar {
    left: 0px;
}